<form>
    <mat-card>
<mat-card-actions>
        <h1>Request Loan</h1>
        <app-empinfo></app-empinfo>
    </mat-card-actions>
    <mat-card-content>
        <mat-form-field>
            <input placeholder="Amount">
        </mat-form-field>
        <mat-form-field>
            <input placeholder="Start Month">
        </mat-form-field>
        <mat-form-field>
            <input placeholder="End Month">
        </mat-form-field>
       <mat-form-field>
        <input placeholder="Loan Type">
       </mat-form-field>>
        <button mat-button><mat-icon fontIcon="save"></mat-icon>Sumbit</button>
        <button mat-button routerLink="/servicecenter"><mat-icon fontIcon="cancel" ></mat-icon>Cancel</button>
    </mat-card-content>
</mat-card>
</form>
