<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form>
  <h1>Service Center</h1>
  <img mat-card-sm-image src="/assets/img/rationalteam.png" >
  <mat-grid-list cols="2" rowHeight="220" style="width: 600px;">
    <mat-grid-tile><button mat-icon-button routerLink="/reqmedical"><mat-icon  fontIcon="health_and_safety"></mat-icon>Medical</button></mat-grid-tile>
    <mat-grid-tile><button rticon mat-icon-button routerLink="/reqmission"><mat-icon fontIcon="rule"></mat-icon>Mission</button></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button routerLink="/reqvcomp"><mat-icon fontIcon="paid"></mat-icon>VComp</button></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button routerLink="/reqloan"><mat-icon fontIcon="assured_workload"></mat-icon>Loan</button></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button routerLink="/reqtempermit"><mat-icon fontIcon="doar_open"></mat-icon>Temp Permit</button></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button routerLink="/evaluate"><mat-icon fontIcon="settings_account_box"></mat-icon>My Evaluation</button></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button routerLink="/explan"><mat-icon fontIcon="exclamation"></mat-icon>My Explanations</button></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button routerLink="/explan"><mat-icon fontIcon=""></mat-icon>My Explanations</button></mat-grid-tile>
  </mat-grid-list>
  
</form>
</mat-card-content>
</mat-card>
